
.container{
    width: 100%;
}
.mainboard{
    width: 60%;
    display: flex;
}
.col_img{
    position: relative;
    width: 20%;
}
.img-piece{
    width: 100%;
    top: -10%;
}
.layer2_box{
    width: 100%;
    padding: 1%;
    padding-top: 5%;
    will-change: opacity,transform;
    transform-origin: 50% top;
    display: none;
    animation:show ease .3s;
}
.radio1{
    position: absolute;
}
#layer2{
    width: 100%;
    flex-wrap: wrap;
}

.image_label{
    position: relative;
    width: 98%;
    padding:1%;
}
@keyframes show{
    from{
        opacity: 0;transform: scale(0); ;
    }
    to{
        opacity: 1;transform: scale(1);;
    }
}
.layer3_box{
    width: 100%;
    padding: 1%;
    padding-top: 5%;
    will-change: opacity,transform;
    transform-origin: 50% top;
    display: none;
    animation:show ease .3s;
}
.radio1{
    position: absolute;
}
#layer3{
    width: 100%;
    flex-wrap: wrap;
}
.piecenumber{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    height: 20%;
}
.piecenumberbox{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(53, 50, 255);
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: 600;
    display: none;
}